body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
    background: #0f0f0f;
    color: white;
}

.container {
    width: 85%;
    margin: auto;
}

header {
    height: 100vh;
    display: flex;
    align-items: center;
    background: linear-gradient(135deg, #0f0f0f, #1c1c1c);
}

header h1 {
    font-size: 50px;
    font-weight: 800;
}

header p {
    font-size: 20px;
    opacity: 0.8;
}

.buttons {
    margin-top: 20px;
}

.btn, .btn-outline {
    padding: 12px 25px;
    text-decoration: none;
    margin-right: 15px;
    border-radius: 30px;
    font-weight: 600;
}

.btn {
    background: #00ff99;
    color: black;
}

.btn-outline {
    border: 2px solid #00ff99;
    color: #00ff99;
}

.about {
    display: flex;
    gap: 40px;
    padding: 80px 0;
}

.about img {
    width: 250px;
    border-radius: 20px;
}

.projects {
    padding: 80px 0;
}

.card {
    background: #1a1a1a;
    padding: 30px;
    border-radius: 15px;
    margin-bottom: 20px;
    transition: 0.3s;
}

.card:hover {
    transform: translateY(-10px);
    background: #222;
}

.skills {
    padding: 80px 0;
}

.skill {
    margin-bottom: 20px;
}

.bar {
    height: 10px;
    background: #333;
    border-radius: 10px;
}

.fill {
    height: 10px;
    background: #00ff99;
    border-radius: 10px;
}
footer {
    text-align: center;
    padding: 30px;
    background: #111;
}
